$mobile-s: #{'max-width: 320px'} !default;
$mobile-m: #{'max-width: 375px'} !default;
$mobile-l: #{'max-width: 425px'} !default;
$tablet: #{'max-width: 768px'} !default;
$tablet-l: #{'max-width: 900px'} !default;
$laptop: #{'max-width: 1024px'} !default;
$laptop-sm: #{'max-width: 1280px'} !default;
$laptop-l: #{'max-width: 1440px'} !default;
$laptop-xl-1: #{'max-width: 1700px'} !default;
$laptop-xl: #{'min-width: 2560px'} !default;
$laptop-4k: #{'min-width: 2561px'} !default;