.lw {
    &-wrapper-input {
        display: grid;
        grid-template-columns: 1fr 4fr;
        padding: 0.5em 1em;
    }
    &-input {
        width: 100%;
        border-bottom: 0.5px solid $inputBorderColor;
        transition: all .4s ease-in-out;
        &:hover {
            border-bottom: 0.5px solid darken($color: $inputBorderColor, $amount: 20);
        }
        &.error {
            border-bottom: 0.5px solid $inputBorderError;
        }
        &.error:hover {
            border-bottom: 0.5px solid darken($color: $inputBorderError, $amount: 20);
        }
        &:focus {
            outline: none;
        }
        .wth-50 {
            width: 50%;
        }
    }
}