$mainColor: #eee;
$mainColorBlack: #222222;
$mainColorGrey: #7C7C7C;
$mainColorWhite: #E6EBE0;

$backgroundBlack: #1A1423;
$trueWhite: #fff;

$agreeColor: #BEE5BF;
$warningColor: #FF0022;
$textColor: #222222;