@import '@/assets/styles/var.scss';

.app-header {
    min-height: 30px;
    max-height: 100px;
    height: 100%;
    background-color: $backgroundBlack;
    color: $mainColor;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5em;

    &-title {
        max-width: 130px;
        width: 100%;
    }
}